---
import "../styles/style.css";
import Menu from "../components/Menu.astro";
import Overskrift from "../components/Overskrift.astro";
import Mathilde from "../components/Mathilde.astro";
import Underbillede from "../components/Underbillede.astro";
import Alene from "../components/Alene.astro";
import Video from "../components/Video.astro";
import Undervideo from "../components/Undervideo.astro";
import Mathilde2 from "../components/Mathilde2.astro";
import Hvem from "../components/Hvem.astro";
import Samtaler from "../components/Samtaler.astro";
import Besked from "../components/Besked.astro";
import Girltalk from "../components/Girltalk.astro";
import Sisterhood from "../components/Sisterhood.astro";
import Signup from "../components/Signup.astro";

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link rel="stylesheet" href="https://use.typekit.net/hds8abn.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <Menu />
    <Overskrift />
    <Mathilde />
    <Underbillede />
    <Alene />
    <Video />
    <Undervideo />
    <Mathilde2 />
    <Hvem />
    <Samtaler />
    <Besked />
    <Girltalk />
    <Sisterhood />
    <Signup />
  </body>
</html>
