---
import "../styles/style.css";
import Menu from "../components/Menu.astro";
import Overskrift from "../components/Overskrift.astro";
import Mathilde from "../components/Mathilde.astro";
import Underbillede from "../components/Underbillede.astro";
import Alene from "../components/Alene.astro";
import Video from "../components/Video.astro";
import Undervideo from "../components/Undervideo.astro";
import Mathilde2 from "../components/Mathilde2.astro";
import Hvem from "../components/Hvem.astro";
import Samtaler from "../components/Samtaler.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link rel="stylesheet" href="https://use.typekit.net/hds8abn.css" />
  </head>
  <body>
    <Menu />
    <Overskrift />
    <Mathilde />
    <Underbillede />
    <Alene />
    <Video />
    <Undervideo />
    <Mathilde2 />
    <Hvem />
    <Samtaler />
  </body>
</html>
