---

---

<div class="grid">
  <section>
    <h3>Føler du dig alene?</h3>
    <p>problematikker vedrørende unges mistrivsel problematikker vedrørende unges mistrivsel problematikker vedrørende unges mistrivsel problematikker vedrørende unges mistrivsel problematikker vedrørende unges mistrivsel problematikker vedrørende unges mistrivsel</p>
    <h4>“De forstod endelig hvorfor jeg agerer som jeg gør”</h4>
    <p>Mathildes oplevelser udner diagnose</p>
  </section>

  <img src="/math4.webp" alt="" />
</div>

<style>
  h3 {
    font-family: "obviously", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--power-blue);
    font-size: 1.5rem;
    margin-top: 100px;
    margin-left: 93px;
  }

  h4 {
    font-size: 1.3rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: var(--power-blue);
    margin-left: 93px;
    mar
  }

  p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin-top: 20px;
    margin-left: 93px;
    margin-bottom:20px;
  }

  img {
    width: 87.5%;
    margin-right: 0;
    margin-top: 50px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
</style>
