---

---

<section>
  <img src="/besked_2.webp" alt="besked1" class="besked" />
  <br />
  <img src="/besked_3.webp" alt="besked2" class="besked" />

  <p>
    <span style="    color: var(--power-blue);
"> Mathilde sidder stadig på den lidt for høje stol med alt lyset tændt og rettet mod hende. Imens fortæller hun åbent og sårbart videre om,  hvordan følelsen af ensomheden påvirkede hende, og det at stå ude for mængden og kigge ind føltes på hendes krop og sind</span>
  </p>

  <img src="public/besked_1.webp" alt="besked3" class="besked" />

  <p>
    Ensomheden har altid fyldt meget i Mathildes liv, da hun altid følte sig anderledes og ved siden af de andre omkring hende. Selv efter hun udredelsen følte hun stadig en stor tomhed og ensomhed indeni. Hun kendte ikke til nogen med de samme udfordringer som hende, og manglede nogen at spejle sig i, og følelsen af at blive forstået af nogen som kunne relatere til hendes udfordringer i en hverdag med en lidt krøllet hjerne og sind. <br />
    <br />
    <br />

     “ da jeg begyndte at dele ud af mine egne erfaringer med min diagnose på sociale medier, har mine følgere virkelig været en stor og vigtig hjælp i min ensomhed proces, da vi fandt en forståelse for hvordan vi kunne hjælpe hinanden med at forstå og blive forstået. <span style="    color: var(--power-blue);
"> Især betød det meget, at få øje og forståelse for man ikke er alene derude, men der også er nogen derude med de samme tanker og bekymringer ”</span> fortæller Mathilde imens et lille sødt og lidt skævt smil spreder sig på hendes læber
  </p>
</section>

<style>
  p {
    font-family: "Archivo", sans-serif;
    margin-top: 20px;
    margin-left: 93px;
    margin-bottom: 20px;
    width: 70ch;
    margin: auto;
    margin-top: auto;
    line-height: 28px;
    text-align: left;
    font-weight: 300;
  }

  img {
    width: 30%;
    margin-right: 0;
    margin-top: 117px;
  }
</style>
