---

---


<div class="grid">
  <section>
    <h2>   GIRLTALK HAR SIDEN 2004 </h2>
     <img src="public/ildhjerte.webp" alt="besked3" class="besked"/>
</section>

<p>fokuseret på unge kvinders mentale sundhed og bryde tabuet om det. Vi vil minde om, at det er normalt at føle sig anderledes som ung. Ingen er alene, og vi arbejder for at forebygge mistrivsel og styrke selvværdet hos piger og unge kvinder. Målet er at stoppe den stigende mistrivsel og sikre, at alle har nogen at tale med.</p>

</div>



<style>
  p {
    font-family: "Archivo", sans-serif;
    font-size: 1rem;
    color: var(--love-red);
    margin-left: 92px;
    margin-top: 40px;
    line-height: 28px;
  font-weight: 300;
    width: 60ch;
  }

  h2 {
    font-family: "obviously", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--power-blue);
    font-size: 2rem;
    text-align: left;
    margin-left: 93px;
    margin-top: 50px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  img {
    width: 90%;
  }
</style>
