---

---

<div class="grid">
  <section>
    <h2> FORSKNING ANTYDER, AT UNGES MISTRIVSEL PRIMÆRT SKYLDES SAMFUNDETS RAMMER FOR UNGDOMSLIVET. </h2>
    <p> Grundet øget tempo i uddannelsessystemet, fokus på præstationer og en tendens til, at unge vender deres problemer indad. Vi har som samfund ikke fulgt med udviklingen for at gribe de unge, og det pres som bliver lagt på dem.
 </p>
 <p>Presset ses på de sociale medier, i skolen, i hjemmet - unge føler mere og mere de skal passe ind i en boks, vi som samfund har skabt til dem - unge føler forventninger fra samfundet gennem karakter, krop, venner og fremtidsplaner. Dette fører til, unge ser indad og oplever selv at skulle lave sig om, hvis noget i omverdenen er svært. 
  <span style="    color: var(--power-blue);
">"De leder efter løsninger i det psykologiske frem for i deres omverden, som er der, problemet skal findes"</span>  siger Noemi Katznelson, professor ved center for ungdomsforskning ved Aalborg Univeristet</p>
  </section>
  <img src="public/billede_overskrift.webp" alt="" />
</div>



<style>
  p {
    font-family: "Archivo", sans-serif;
    font-size: 1rem;
    margin-left: 92px;
    margin-top: 40px;
    line-height: 28px;
  font-weight: 300;
  }
  h2 {
    font-family: "obviously", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--power-blue);
    font-size: 2rem;
    text-align: left;
    margin-left: 93px;
    margin-top: 50px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  img {
    width: 90%;
  }
</style>
