---

---

<div class="grid">
  <section>
    <h2>Hvem er <span style="    color: var(--love-red);
">Girltalk</span> ?</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam accusamus dolore iusto voluptate vel veniam placeat tenetur recusandae cupiditate. Placeat magnam ea quaerat repudiandae! Eaque qui dolorum aliquam itaque pariatur. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil ipsum modi praesentium maxime, numquam necessitatibus dolore corporis animi cupiditate placeat? A atque sed voluptas ut quo nam, quod asperiores laborum.</p>
  </section>
  <img src="public/billede_overskrift.webp" alt="" />
</div>
<style>
  p {
    color: var(--power-blue);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 1rem;
    margin-left: 60px;
    margin-top: 40px;
  }
  h2 {
    font-family: "obviously", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--power-blue);
    font-size: 2rem;
    text-align: center;
    margin-left: 93px;
    margin-top: 50px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  img {
    width: 90%;
  }
</style>
