---

---

<div class="grid">
  <section class="billede">
    <h3> I DE SENE TEENAGEÅR LAGDE MATHILDE MÆRKE TIL</h3>
    <p class="p2"> at hun havde brug for andre behov end dem hun ellers blev mødt med af folk omkring sig. Den kasse, som samfundet havde bygget til hende, kunne hun ikke længere være i, men uden at vide hvorfor eller hvordan tingene ellers kunne passe. </p>
    <img src="public/math5.webp" alt="" />
  </section>
  <section class="kreativ">
    <div class="hjerte"><img src="public/hjerte.webp" alt="" /></div>
    <h3>“DA JEG VAR 17 ÅR GAMMEL,</h3>
    <p> besøgte min mor og jeg en privat psykiater. På det tidspunkt, var jeg dog ikke klar, selvom jeg ønskede at finde ud af, hvorfor jeg følte mig så forkert. Så tilbage i 2020 prøvede vi igen at opsøge en psykiater, men denne gang gennem det offentlige. Efter lang ventetid kom jeg endelig igennem, Jeg synes, det var så rart at få en forklaring på, hvorfor jeg følte mig så forkert hele mit liv”, fortæller hun.</p>
  </section>
</div>

<style>
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 93px;
  }

  img {
    width: 100%;
    margin-top: 30px;
  }

  .billede {
  }

  h3 {
    font-family: "obviously", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--power-blue);
    text-align: left;
    margin-top: 50px;
  }

  .kreativ {
    margin-left: 20px;
    margin-right: 93px;
    margin-top: 50px;
  }

  p {
    margin-top: 20px;
    font-family: "Archivo", sans-serif;
    line-height: 28PX;
  font-weight: 300;
  }

    .p2 {
    text-align: left;
    width: 80%;
    margin: auto;
    margin-top: 18px;
    width: 83ch;
  }

  .hjerte {
    width: 30%;
    margin-left: 200px;
    margin-top: 30px;
  }
</style>
