---

---

<h2>Mathilde Olsen</h2>

<p>”Jeg har altid følt mig anderledes og uduelig. Når jeg kiggede på folk omkring mig, følte jeg, at alle andre kunne klare hvad som helst, såsom at skabe nye venskaber eller at starte på gymnasiet”</p>

<div class="grid">
  <img src="/math1.webp" alt="" />
  <section class="flex">
    <img src="/math2.webp" alt="" />
    <img src="/math3.webp" alt="" />
  </section>
</div>

<style>
  h2 {
    font-family: "obviously", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    color: var(--power-blue);
    text-align: center;
    font-size: 2rem;
    padding-top: 7rem;
  }

  p {
    font-family: "Archivo", sans-serif;
    color: var(--love-red);
    font-size: 1rem;
    text-align: center;
    margin: auto;
    width: 80ch;
    margin-bottom: 40px;
    line-height: 28px;
    font-weight: 300;
  }
  img {
    width: 100%;
    margin-left: 13%;
    margin-top: -10px;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .flex {
    width: 77.5%;
  }
</style>
