---

---

<h2>Mathilde Olsen</h2>

<p>“Mathilde følte sig anderledes og forkert, inden hun mødte andre unge piger i et fællesskab</p>

<div class="grid">
  <img src="public/math1.webp" alt="" />
  <section class="flex">
    <img src="public/math2.webp" alt="" />
    <img src="public/math3.webp" alt="" />
  </section>
</div>

<style>
  h2 {
    font-family: "obviously", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    color: var(--power-blue);
    text-align: center;
    font-size: 2rem;
  }

  p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: var(--power-blue);
    font-size: 1rem;
    text-align: center;
    margin: auto;
    width: 50ch;
    margin-bottom: 40px;
  }
  img {
    width: 100%;
    margin-left: 13%;
    margin-top: -10px;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .flex {
    width: 77.5%;
  }
</style>
