---

---

<div class="grid">
  <section class="billede">
    <h3>Mathildes selvopfattelse efter diagnosen</h3>
    <img src="public/math5.webp" alt="" />
  </section>
  <section class="kreativ">
    <div class="hjerte"><img src="public/hjerte.webp" alt="" /></div>
    <h3>Kreativteten var vejen frem for mig</h3>
    <p>Kreativteten var vejen frem for migKreativteten var vejen frem for migKreativteten var vejen frem for migKreativteten var vejen frem for migKreativteten var vejen frem for migKreativteten var vejen frem for migKreativteten var vejen frem for migKreativteten var vejen frem for migKreativteten var vejen frem for migKreativteten var vejen frem for migKreativteten var vejen frem for migKreativteten var vejen frem for migKreativteten var vejen frem for migKreativteten var vejen frem for migKreativteten var vejen frem for migKreativteten var vejen frem for migKreativteten var vejen frem for migKreativteten var vejen frem for migKreativteten var vejen frem for migKreativteten var vejen frem for migKreativteten var vejen frem for migKreativteten var vejen frem for mig</p>
  </section>
</div>

<style>
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 93px;
  }

  img {
    width: 100%;
    margin-top: 30px;
  }

  .billede {
  }

  h3 {
    font-family: "obviously", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--power-blue);
    text-align: center;
    margin-top: 50px;
  }

  .kreativ {
    margin-left: 20px;
    margin-right: 93px;
    margin-top: 50px;
  }

  p {
    margin-top: 20px;
  }

  .hjerte {
    width: 30%;
    margin-left: 200px;
    margin-top: 30px;
  }
</style>
