---

---
<!-- 
<header>
  <nav>
    <img src="/girltalk_logo_black_wide-1.webp" alt="" />

    <ul>
      <p>Få hjælp</p>
      <p>Viden om os</p>
      <p>Om os</p>
      <p>Shop</p>
      <p>Støt</p>
      <p>Bliv frivillig</p>
    </ul>

    <div class="unge_foraldre">
      <p class="for_unge">For unge</p>
      <p class="for_foraldre">For forældre</p>
    </div>
  </nav>
</header>

<style>
  header {
    background-color: white;
    position: sticky;
    font-family: "Times New Roman", Times, serif;
    width: 100%;
  }
  ul {
    display: flex;
    justify-content: flex-end;

    gap: 30px;
    font-size: 1.3rem;
    margin-top: 25px;
  }
  .unge_foraldre {
    font-size: 1.2rem;
    display: flex;
    gap: 30px;
    background-color: var(--dreamy-white);
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .for_foraldre {
    padding-top: 5px;
  }

  .for_unge {
    background-color: var(--love-red);
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--dreamy-white);
    border-radius: 40px;
  }

  p {
  }
  nav {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
  }
  img {
    object-fit: none;
  }
</style> -->
