---

---

<div class="grid">
  <section>
    <h1>Mathilde's <div class="fal">fællesskab</div> og vejen ud af ensomhed</h1>
    <p>Alt for mange piger og unge kvinder har det dårligt <span style="    color: var(--love-red);
">mentalt</span>. Mathilde ønsker sammen med GirlTalk at bryde tabuet om ensomhed og <span style="    color: var(--love-red);
">mistrivsel</span></p>
    <img src="/billede_overskrift.webp" alt="" />
  </section>
  <style>
    .fal {
      color: var(--love-red);
    }

    p {
      color: var(--power-blue);
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      font-size: 1.6rem;
      margin-left: 60px;
      margin-top: 40px;
    }
    h1 {
      color: var(--power-blue);
      font-size: 3.8rem;
      margin-left: 60px;
      text-transform: uppercase;
      line-height: 80px;
      margin-top: 50px;
      font-family: "obviously", sans-serif;
      font-weight: 700;
      font-style: normal;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    img {
      width: 90%;
    }
  </style>
</div>
