---

---

<div class="grid">
  <img src="public/lilla_piger.webp" alt="lillapiger" />
  <section>
    <h2>DET ER ET STORT PROBLEM, AT VI SOM SAMFUND IKKE TALER OM VORES UDFORDRINGER</h2> 
    <p>Vi skal som samfund bryde tabuet om mistrivsel. Statistikker og forskning viser, at halvdelen af den danske befolkning kæmper med ensomhed og mistrivsel. Det er derfor vigtigt at åbne op og tale om de problemer, vi oplever, da forskning gentagne gange har påpeget, at fællesskaber og sociale netværk er afgørende for bedre trivsel </p>
  <p class="p1">  “især for dem, der lider af ensomhed. Det er en samfundsproblematik, som vi må tackle sammen ved at åbne op og støtte hinanden", siger Pia Jeppesen, klinisk lektor på Københavns Universitet</p>
<p>“Husk, at du ikke er alene i dine oplevelser med ensomhed. Mange mennesker oplever det på et eller andet tidspunkt i deres liv.”</p>  
</section>



</div>
<style>
  p {
    color: var(--power-blue);
   font-family: "Archivo", sans-serif;
    font-size: 1rem;
    margin-top: 40px;
    text-align: left;
    line-height: 28px;
  font-weight: 300;
  }

  .p1 {
    color: var(--love-red);
  }

  section {
    margin-right: 93px;
  }
  h2 {
    font-family: "obviously", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--power-blue);
    font-size: 2rem;
    text-align: left;
    margin-left: 93px;
    margin-top: 50px;
    margin: auto;
  }

  /* .insta {
    font-family: "Gill Sans","Gill Sans MT",Calibri,"Trebuchet MS",sans-serif;
  color: var(--love-red);
  font-size: 1rem;
  text-align: left;
  margin: auto;
    margin-bottom: auto;
  width: 80ch;
  margin-bottom: 40px;
} */

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  img {
    width: 100%;
    
  }

 
  .besked {
width: 50%;
  }
</style>
