---

---

<form action="Sign up
">
  <label for="dnavn">Deltagers navn</label>
  <input type="text" />
  <label for="gruppe">Gruppe</label>
  <input type="text" />
  <label for="mail">Deltagers e-mail</label>
  <input type="text" />
  <label for="alder">Deltagers alder</label>
  <input type="text" />
  <label for="nummer">Deltagers mobilnummer</label>
  <input type="text" />
  <label for="omrode">Hvilket område ønsker du forløb i? (*)</label>
  <input type="text" />
  <label for="sister">Hvor har du hørt om Sisterhood?</label>
  <input type="text" />
  <label for="why">Hvorfor ønsker du at deltage i gruppeforløbet SiSTERHOOD?(*)</label>
  <input type="text" />
</form>

<style>
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
</style>
