---

---

<div class="grid">
  <img src="/sister.webp" alt="besked3" class="besked" />
  <section>
    <h2>DET KAN VÆRE UDFORDRENDE AT SØGE HJÆLP</h2>
    <p>
      når man føler sig ensom. Derfor tilbyder sisterhood en støttende samtalegruppe, hvor piger og unge kvinder kan mødes og blive en del af et trygt fællesskab med andre ligesindede. Her mødes de ugentligt, i en fast gruppe og tager fast i øvelser og samtaler, som faciliteres af to af GirlTalks gruppeledere.
      <br />
      <br />
      <span style="    color: var(--love-red);">“Vi ønsker retten til at være den man er og respektere andre er, som de er”</span>.
    </p>
  </section>
</div>
<h3>HUSK DU OGSÅ KAN SØGE HJÆLP IGENNEM VORES ANONYME SMS- OG CHATRÅDGIVNING, PSYKOLOSAMTALER, VOKSENRÅDGIVNING OG FOREDRAG</h3>
<p>
  <span style="    color: var(--power-blue);"> VI HAR OGSÅ EN OMFATTENDE INDSATS PÅ SOCIALE MEDIER: <br /> YOUTUBE, PODCAST, INSTAGRAM, TIKTOK OG FACEBOOK</span>.

  <style>
    p {
      font-size: 1rem;
      font-weight: 400;
      font-style: normal;
      text-align: left;
      margin-top: 11px;
      width: 90ch;
      margin: auto;
      margin-top: auto;
      font-family: "Archivo", sans-serif;
      font-weight: 300;
    }

    h2 {
      font-family: "obviously", sans-serif;
      font-weight: 700;
      font-style: normal;
      color: var(--power-blue);
      font-size: 2rem;
      text-align: left;
      margin-left: 93px;
      text-align: center;
      width: 25ch;
    }

    h3 {
      font-family: "obviously", sans-serif;
      font-weight: 400;
      font-style: normal;
      color: var(--power-blue);
      font-size: 1.3rem;
      margin-top: 100px;

      text-align: center;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    img {
      width: 90%;
    }
  </style>
</p>
