---

---

<div class="grid">
  <section>
    <h2>ENSOMHED ER FORSKELLIGT</h2>
  </section>
  <section> <p>
    Fra person til person, men er en følelse, som opstår, når et menneske ikke får opfyldt sine sociale behov - som alle mennesker har brug for. Desværre er det hele 19% af alle unge i Danmark mellem 16 - 24 år, som føler sig ensomme. Samtidig bliver flere unge også diagnosticeret med psykiske lidelser, kæmper med stress og andre mentale udfordringer. I gennemsnit føler 52,3 procent unge kvinder mellem 16 og 24 år sig stressede, og 34% oplever mentale udfordringer med tal fra Sundhedsstyrelsen og Statens Institut for Folkesundhed, SDU</p>
    <p class="p1">Psykisk mistrivsel viser sig i form af  lav livstilfredshed, psykiske og psykosomatiske symptomer, stress, ensomhed, selvskadende adfærd eller søvnproblemer.</p>
  </section>

    <img src="/figure.webp" alt="" />
  </section>
  <section>
    <p>
      samfundets indflydelse på unges trivsel samfundets indflydelse på unges trivsel samfundets indflydelse på unges trivsel samfundets indflydelse på unges trivsel samfundets indflydelse på unges trivsel samfundets indflydelse på unges trivselsamfundets indflydelse på unges trivsel samfundets indflydelse på unges trivsel samfundets indflydelse på unges trivsel samfundets indflydelse på unges trivsel samfundets indflydelse på unges trivsel samfundets indflydelse på unges trivsel.samfundets indflydelse på unges trivsel samfundets indflydelse på unges trivsel samfundets indflydelse på unges trivsel samfundets indflydelse på unges trivsel samfundets indflydelse på unges trivsel samfundets indflydelse på unges trivselsamfundets indflydelse på unges trivsel samfundets indflydelse på unges
      trivsel samfundets indflydelse på unges trivsel samfundets indflydelse på unges trivsel samfundets indflydelse på unges trivsel samfundets indflydelse på unges trivsel
    </p>
    <div class="hjerter"><img src="/hjerter.webp" alt="" /></div>

  
  <section>
 <h2> ENSOMHED ER EN <br> UBEHAGELIG FØLELSE</h2>
 <img src="public/figure.webp" alt="" />
  </section>
  <section>
      <p> Som i en kortvarig periode kan være ufarlig. Langvarig ensomhed er derimod noget vi som samfund bør tage alvorligt. Ensomhed og andre mentale udfordringer har ikke kun psykiske påvirkning nu her, men kan sætte varige spor. <br> <br>
Ensomhed og mentale udfordringer kan være med til at øge alvorlig mistrivsel og risikoen for psykisk sygdom, men også fysiske sygdomme – da langvarig ensomhed kan medvirke til udvikling af hjertekarsygdomme, type 2-diabetes, demens og for tidlig død . Det viser tal fra “Den Nationale Sundhedsprofil 2021” </p>
        <div class="hjerter"><img src="public/hjerter.webp" alt="" /></div>
  </section>

</div>


<style>
  h2 {
    font-family: "obviously", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--power-blue);
    font-size: 2rem;
    text-align: center;
    margin-left: 93px;
    margin-top: 50px;
  }

  .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  }

  img {
    width: 80%;
  }

  p{
    font-family: "Archivo", sans-serif;
    margin-top: 190px;
    margin-right: 93px;
    line-height: 28px;
  font-weight: 300;
  }
  .p1 {
    color: var(--love-red);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin-top: 74px;
    margin-right: 93px;
  }

  .hjerter {
    width: 60%;
    margin-top: 30px;
    margin-left: 150px;
  }


</style>
