---

---

<div class="grid">
  <section>
    <h2>SAMFUNDETS INDFLYDELSE PÅ UNGES TRIVSEL</h2>

    <img src="public/figure.webp" alt="" />
  </section>
  <section>
    <p>
      samfundets indflydelse på unges trivsel samfundets indflydelse på unges trivsel samfundets indflydelse på unges trivsel samfundets indflydelse på unges trivsel samfundets indflydelse på unges trivsel samfundets indflydelse på unges trivselsamfundets indflydelse på unges trivsel samfundets indflydelse på unges trivsel samfundets indflydelse på unges trivsel samfundets indflydelse på unges trivsel samfundets indflydelse på unges trivsel samfundets indflydelse på unges trivsel.samfundets indflydelse på unges trivsel samfundets indflydelse på unges trivsel samfundets indflydelse på unges trivsel samfundets indflydelse på unges trivsel samfundets indflydelse på unges trivsel samfundets indflydelse på unges trivselsamfundets indflydelse på unges trivsel samfundets indflydelse på unges
      trivsel samfundets indflydelse på unges trivsel samfundets indflydelse på unges trivsel samfundets indflydelse på unges trivsel samfundets indflydelse på unges trivsel
    </p>
    <div class="hjerter"><img src="public/hjerter.webp" alt="" /></div>
  </section>
</div>

<p class="p2">forbyggelse af mistrivsel blandt unge forbyggelse af mistrivsel blandt unge forbyggelse af mistrivsel blandt unge forbyggelse af mistrivsel blandt unge forbyggelse af mistrivsel blandt unge forbyggelse af mistrivsel blandt unge forbyggelse af mistrivsel blandt unge forbyggelse af mistrivsel blandt unge forbyggelse af mistrivsel blandt unge forbyggelse af mistrivsel blandt unge forbyggelse af mistrivsel blandt unge forbyggelse af mistrivsel blandt unge</p>

<style>
  h2 {
    font-family: "obviously", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--power-blue);
    font-size: 2rem;
    text-align: center;
    margin-left: 93px;
    margin-top: 50px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  img {
    width: 90%;
  }

  p {
    color: var(--love-red);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin-top: 190px;
    margin-right: 93px;
  }

  .hjerter {
    width: 50%;
    margin-top: 30px;
    margin-left: 150px;
  }

  .p2 {
    color: var(--power-blue);
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 50px;
  }
</style>
